.OperationCard{
    width:20%;
    height:45vh;
    background-color:white;
    border-radius: 32px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.OperationCard:hover{
    transform: scale(1.1);
    background-color:#000D86;
    color:white;
    cursor: pointer;
}

img{
    width:35%;
    padding:10px;
}

.cardTitle{
    font-size: 1.5vw;
    font-weight: bold;
    width:80%;
    text-align: center;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSubHeading{
    padding-top: 10px;
    width:80%;
    text-align: center;
    font-size: 0.75vw;
}

@media (max-width: 800px){
    .OperationCard{
        width:80vw;
    }
}