.PrintButton{
    width:100px;
    padding:5px;
    color: black;
    background-color: #AFD9FF;
    border:none;
    border-radius: 10px;
    font-weight: 600;
    margin:20px;
    transition: background-color 0.3s, color 0.3s;
}

.PrintButton:hover {
    background-color: #00d12d;
    color:rgb(0, 0, 0);
}
.CancelBill{
    width:100px;
    padding:5px;
    color: black;
    background-color: #AFD9FF;
    border:none;
    border-radius: 10px;
    font-weight: 600;
    margin:20px;
    transition: background-color 0.3s, color 0.3s;
}
.CancelBill:hover{
    background-color: #ff0000;
    color:rgb(0, 0, 0);
}